@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');




* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    font-size: 14px;

    font-family: "Jost", sans-serif
}

h1 {
    font-size: 35px;
    font-family: "DM Serif Display", serif;
}

h2 {
    font-size: 20px;
     font-family: "DM Serif Display", serif;
}

.bg-red {
    background-color: red;
}

.flex {
    /*rendre flexible un parent c rendre flexible ses enfant*/
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.button {
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
    display: inline-block;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.container-1000 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.container-500 {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/*classes de dimenssions*/

.w-100 {
    width: 100%;
}

.w-48 {
    width: 48%;
}

.w-50 {
    width: 50%;
}
.w-40{
    width: 40%;
}
.w-33 {
    width: 33%;
}

.w-25 {
    width: 25%;
}

.w-10{
    width: 10%;
}

a {
    text-decoration: none;
    color: black;


}

.txtwhite {
    color: white;
}

.margin-top100 {
    margin-top: 100px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 20px;

}

.cardh3 {
    margin-top: 20px;
}

.cardp {
    margin-bottom: 20px;
}

/*section hero*/





/*h1{
    margin-bottom: 20px;
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;

}*/


.ombre {
    box-shadow: 0px 0px 5px gray;
}

.police {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.suppuce {
    list-style: none;
}

.section-hero {
    background-image: url(assets-interno/assets-interno/Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    border-radius: 0px 0px 0px 150px;
}

.section-hero-div {

    text-align: center;
}

.margin-left {
    margin-left: 5%
}

.margin-top10 {
    margin-top: 10%;
}

.goldarrow {
    color: #CDA274;
}

.borderradius1{
    border-radius: 0px 250px 0px 50px;
}

.borderradius2{
    border-radius: 0px 50px 0px 0px ;
}

.borderradius3{
border-radius: 50px 0px 0px 0px ;
}

.borderradius4{
border-radius: 0px 0px 50px 0px ;
}

.borderradius5{
border-radius: 0px 0px 0px 50px ;
}

.bg-gold{
    background-color: #F4F0EC;
}

.txtcenter{
    text-align: center;
}

.padding25{
    padding: 25vh;
}

.bg-bluck{
    background-color: #292F36;
}

.padding10{
    padding: 10vh;
}

.padding5{
    padding: 5vh;
}