* {
    box-sizing: border-box;
    padding: 0;
    
}

.flex{/*rendre flexible un parent c rendre flexible ses enfant*/
    display: flex;
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.button{
    background-color: gray;
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
    display: inline-block;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-primary{
    font-size: 25px;
}
.btn-secondary{
    font-size: 14px;
}
.container-1000{
     max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.container-500{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
} 
 
/*classes de dimenssions*/

.w-100{
    width: 100%;
}

.w-48{
    width: 48%;
}

.w-50{
    width: 50%;
}

.w-33{
    width: 33%;
}

.w-25{
    width: 25%;
}

a{
    text-decoration: none;
    color: black;
    
    
}
.txtwhite{
    color: whitesmoke;
}
.margin-top100{
    margin-top: 100px;
}
.card{
    box-shadow: 5px 5px 10px gray;
    border-radius: 20px;
    padding: 20px;
    
}
.cardh3{
    margin-top: 20px;
}
.cardp{
    margin-bottom: 20px;
}
/*section hero*/

.section-hero{
    background-image:url(asset/photo-1510915228340-29c85a43dcfe.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.section-hero div{
    
    text-align: center;
}

/*h1{
    margin-bottom: 20px;
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;

}*/

.section-hero div>p{
    margin-bottom: 50px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}
.ombre{
    box-shadow: 0px 0px 5px gray;
 }
.police{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

.suppuce{
    list-style: none;
}

.section-hero{
    background-image:url(assets-interno/assets-interno/Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150vh;
    border-radius: 0% 0% 0% 30%;
}

.section-hero-div{
    
    text-align: center;
}